.navbar-brand .img-fluid {
    max-width: 20%;
    height: auto;
    vertical-align: sub;
}

main {
    margin-top: 15px;
}

main>.container-fluid {
    padding-right: 20px;
}

.navbar-brand {
    font-size: 3.5rem;
}

.navitems {
    display: inline;
}


fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend {
    float: none;
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    border-bottom: none;
    margin-bottom: 0;
}

#sachin {
    border-radius: 50%;
    transition: all .5s;
}

#sachin:hover {
    transform: scale(1.2) rotate(360deg);
}